<div class="container paddingBot paddingTop">
  <div class="card marginBot">
    <div class="card-header btn-faved">
      <i class="fas fa-exclamation-triangle"></i> Averias y/o Urgencias
    </div>
    <div class="card-body">
      <p class="card-text">En caso de avería o urgencia puede contactar con el <a href="tel:+34619707421">619 70 74 21</a>.</p>
    </div>
  </div>
  <div class="card marginBot">
    <div class="card-header btn-faved">
      <i class="far fa-user"></i> Atención al cliente
    </div>
    <div class="card-body">
      <p class="card-text">Para incidencias con la tarjeta o cualquier otra consulta puede contactar con el <a href="tel:+34946564905">94 656 49 05</a>.</p>
    </div>
  </div>
</div>
