/* You can add global styles to this file, and also import other style files */
body{
  color: rgb(255, 0, 0, 0.5) !important;
}

agm-map{
  height: 300px;
}

mapaDetalle{
  height: 300px;
}

mapa{
  height: 600px;
}

.seleccionar{
  font-size: 10px;
  /* margin-left: 10px; */
  padding: 0 8px;
  cursor: pointer;
}

.todos{
  color: rgb(0, 140, 0, 0.5);
}

.ninguno{
  color: rgb(255, 0, 0, 0.5);
}

.todos:hover{
  background-color: rgb(0, 140, 0, 0.5);
  border-radius: 10px;
  color: white;
}

.ninguno:hover{
  background-color: rgb(255, 0, 0, 0.5);
  border-radius: 10px;
  color: white;
}

.listaMarcadores{
  border: 0 !important;
  text-align: left !important;
  color: rgb(255, 0, 0, 0.5) !important;
}

.listaMarcadores:hover{
  background-color: rgb(255, 0, 0, 0.5) !important;
  color: white !important;
}

.collapsible-btn{
  text-decoration: none !important;
  color: rgb(255, 0, 0, 0.5) !important;
}

.btn-faved .collapsible-btn{
  text-decoration: none !important;
  color: white !important;
}

.text-align-left{
  text-align: left !important;
}

.text-align-right{
  text-align: right !important;
}

.text-align-center{
  text-align: center !important;
}

.btn-faved{
  background-color: rgb(255, 0, 0, 0.5) !important;
  color: white !important;
}

.noBottomBorder {
  border-bottom: 0 !important;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 200px;
  width: 48px;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.btn-faved .numRedondo{
  display: inline;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  padding: 6px 4px 8px 9px;
  margin-right: 5px;
  background-color: white !important;
  /* background-color: rgb(249, 37, 37, 0.7); */
  color: rgb(255, 0, 0, 0.5) !important;
  font-weight: bold;
}

.numRedondo{
  display: inline;
  width: 60px;
  line-height: 60px;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  padding: 6px 4px 8px 9px;
  margin-right: 5px;
  background-color: rgb(255, 0, 0, 0.5) !important;
  /* background-color: rgb(249, 37, 37, 0.7); */
  color: white;
  font-weight: bold;
}



/* ----------------------------------------------------- */
/* TOGGLE DE MARCADORES - MAPA */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 49px;
  height: 28px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(255, 0, 0, 0.5);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(255, 0, 0, 0.5);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ----------------------------------------------------- */
